body {
    text-align: center;
    background-color: aliceblue;
    height: 100%;
    margin: 0;
}
h1, h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
}

hr {
    width: 50%;
    height: 200%;
    color: darkred;
}
p {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: slategray;
}
#name {
    font-size: 400%;
    margin-bottom: -20px;
}
#image {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: -20px;
    transition: margin-top;
}
#titles {
    font-family: 'Amatic SC', cursive;
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
    padding-bottom: 1px;
    margin-right: 20%;
    margin-left: 20%;
    border-top-right-radius: 85%;
    border-top-left-radius: 85%;
}
#titles h1 {
    text-shadow: 4px 2px #000000;
}
#titles h2 {
    text-shadow: 2px 2px #000000;
}
#bio {
    align-content: center;
    padding: 5px 80px 80px 80px;
}
#homeHeadshot {
    width:36px;
    margin-left: 5px;
}
#indexHeadshot {
    width: 20%;
    transition: all 1000ms;
}
.homeContainer {
    background: url("../images/tobermory.jpg") center no-repeat;
    height: 103%;
    background-size: cover;
}
.banner div {
    width: 33%;
    float: left;
}
.banner div a {
    float: left;
}
.spin {
    width: 0 !important;
    transition: all 1000ms;
}
.banner {
    width: 100%;
    background-color: rgba(78, 120, 99, 0);
    position: fixed;
    top: 0;
    left: -2px;
    height: 45px;
    margin: auto;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    transition: all 600ms;
}
.fixed {
    border-color: rgba(0, 0, 0, 0.64);
    background-color: rgb(14, 79, 120);
    transition: all 600ms;
}