body {
    text-align: center;
    background-color: aliceblue;
    height: 100%;
    margin: 0;
}

hr {
    width: 50%;
    height: 200%;
    color: darkred;
}
p {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: slategray;
}
#name {
    font-size: 4rem;
    margin-bottom: -20px;
}
#image {
    transition: margin-top;
    position: relative;
    top: 15vh;
}
#titles {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
    padding-bottom: 1px;
    margin: auto;
    position: relative;
    top: 22vh;
    max-width: 600px;
    border-radius: 5px;
}
#titles h1 {
    text-shadow: 4px 2px #000000;
}
#titles h2 {
    text-shadow: 2px 2px #000000;
}
#bio {
    align-content: center;
    padding: 5px 20% 80px 20%;
}
.indexHeadshot {
    width: 33vh;
    transition: all 1000ms;
    cursor: pointer;
}
.homeContainer {
    background: url("../images/tobermory.jpg") center no-repeat;
    height: 100vh;
    background-size: cover;
}
.banner div {
    width: 33%;
    float: left;
    font-size: 4vh;
    font-family: 'PT Sans Narrow', sans-serif;
}
.banner div a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0 5px 0;
}
.spin {
    width: 0 !important;
    transition: all 1000ms;
}
.banner {
    width: 100%;
    background-color: rgba(78, 120, 99, 0);
    position: fixed;
    top: 0;
    left: -2px;
    height: 6vh;
    margin: auto;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    transition: all 600ms;
    z-index: 1;
}
.fixed {
    border-color: rgba(0, 0, 0, 0.64);
    background-color: rgb(14, 79, 120);
    transition: all 600ms;
}