@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  text-align: center;
  height: 100%;
  margin: 0;
}
hr {
  width: 100%;
  height: 200%;
  color: darkred;
}
li {
  list-style-type: circle;
  padding: 5px 0;
}
#name {
  font-size: 4rem;
}
#image {
  transition: margin-top;
  position: relative;
  top: 15vh;
}
#titles {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  background: rgba(0, 0, 42, 0.6);
  margin: auto;
  padding: 0 18px 1px 18px;
  position: relative;
  top: 22vh;
  border-radius: 5px;
}
#titles h1 {
  text-shadow: 4px 2px #000000;
}
#titles h2 {
  text-shadow: 2px 2px #000000;
}
h5 {
  font-size: 0.8rem;
}
#bio {
  min-height: 100vh;
  align-content: center;
  padding: 50px 10% 200px 10%;
  font-family: 'Montserrat', sans-serif;
}
#bio h3 {
  text-align: left;
}
.sectionHeader {
  background-color: #11669b;
  cursor: pointer;
  color: #FFFFFF;
  padding-top: 12px;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sectionTitle {
  font-size: 1.5rem;
}
@media only screen and (max-width: 500px) {
  .sectionTitle {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 769px) {
  .sectionTitle {
    font-size: 2rem;
  }
}
.highlightText {
  text-decoration: underline;
}
.infoBlock {
  display: inline-block;
  text-align: left !important;
  color: #414957;
}
.indexHeadshot {
  width: 33vh;
  height: 33vh;
  transition: all 500ms;
}
.spin {
  height: 33vh;
  width: 0;
  transition: all 500ms;
}
.reflect {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.background {
  background: url("/assets/images/background.jpg") center no-repeat;
  height: 100vh;
  background-size: cover;
}
.banner {
  width: 100%;
  height: 36px;
  background-color: rgba(78, 120, 99, 0);
  position: absolute;
  top: 0;
  margin: auto;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  transition: all 600ms;
  z-index: 1;
}
.banner div {
  width: 33%;
  float: left;
  font-size: 24px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 1px;
  color: #ffffff;
}
.banner div a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0 5px 0;
}
.fixed {
  border-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  position: fixed;
  top: 0;
  margin: auto;
  border-width: 1px 0 1px 0;
  border-style: solid;
  z-index: 1;
}
.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
  transition: all 500ms;
}
.noScroll {
  overflow: hidden;
}
.icon {
  width: 60px;
}
.horizImage {
  width: 75% !important;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 75%;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .slideshow-container {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .slideshow-container {
    width: 50%;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
